In [12]:
import numpy as np
import pandas as pd
import random

np.random.seed(18182)
data = np.random.rand(10, 5)

df = pd.DataFrame(data, columns=['a', 'b', 'c', 'd', 'e'])
print(df, '\n')

sum = list(range(10))
count = list(range(10))

for i in range(10):
    for j in range(5):
        if (df.iloc[i, j]) > 0.3:
            sum[i] += (df.iloc[i, j])
            count[i]+=1
            
for i in range(10):
    sum[i] = sum[i]/count[i];
    
print(sum)

          a         b         c         d         e
0  0.802917  0.264625  0.280619  0.413695  0.073594
1  0.594044  0.589462  0.644189  0.823789  0.392670
2  0.691411  0.916593  0.735107  0.916479  0.684559
3  0.880282  0.001789  0.896003  0.371397  0.800078
4  0.235457  0.784992  0.606671  0.609215  0.732600
5  0.527418  0.452729  0.017274  0.054129  0.373211
6  0.008282  0.650676  0.694674  0.940696  0.364955
7  0.199003  0.850102  0.754003  0.257478  0.094485
8  0.502152  0.941957  0.451190  0.733694  0.523427
9  0.719580  0.629330  0.750617  0.366934  0.773369

[0.6083059700067814, 0.6740256198034613, 0.8491641370097632, 0.8496799769020366, 0.8416846302316305, 0.7941696865595141, 0.8651001464208974, 0.9560116644606074, 0.857878482696642, 0.8742735376155294]

In [13]:
import numpy as np
import pandas as pd
import random

df1 = pd.read_csv('wells_info.csv')

df1['CompletionDate'] = pd.to_datetime(df1['CompletionDate'])
df1['PermitDate'] = pd.to_datetime(df1['PermitDate'])
display(df1)

time = list()

time = df1['CompletionDate']- df1['PermitDate']
time_in_month = time #who to convert to month?
(time_in_month)

    


# In[57]:


import math

def medium(row, str):
    sr = df1[str].mean()
    if math.isnan(row[str]) is True:
        return sr
    else:
        return row[str]
    
def strfun(row, str):
    sr1 = df1[str].value_counts().to_frame()
    if ((row[str])!=row[str]):
        return sr1.index[0]
    else:
        return row[str]
    
df1 = pd.read_csv('wells_info_na.csv')



df1['LatWGS84'] = df1.apply(medium, str = 'LatWGS84', axis=1)
df1['LonWGS84'] = df1.apply(medium, str = 'LonWGS84', axis=1)


df1['CompletionDate'] = df1.apply(strfun, str = 'CompletionDate', axis=1)
df1['StateName'] = df1.apply(strfun, str = 'StateName', axis=1)
df1['BasinName'] = df1.apply(strfun, str = 'BasinName', axis=1)
display(df1)


# In[154]:


def total_amount(row, str):
    tr = df1.index [df1['API']== row['API']].tolist ()
    for i in tr:
        row[str]+=df1[str][i]

    return row[str]

def amount_for_12_month(row, str):
    i = 0
    count=1
    tr = df1.index [df1['API']== row['API']].tolist ()
    for i in tr:
        row[str]+=df1[lis1[0]][i]
        if count == 12:
            break
        count+=1
    i+=1 
    return row[str]


df1 = pd.read_csv('production.csv')
df2 = pd.read_csv('wells_info.csv')
df3 = pd.DataFrame()

df3['API'] = df1['API'].unique()

lis1 = ['Liquid', 'Gas', 'RatioGasOil','Water']
for sr in lis1:
    df3[sr] = 0
    df3[sr] = df3.apply(total_amount, str = sr, axis=1)
    df2[sr]=df3[sr]

#print(df1[df1['API']==5005072170100])

lis2 = ['Liquid for 12', 'Gas for 12', 'RatioGasOil for 12','Water for 12']

for sr in lis2:
    df3[sr] = 0
    df3[sr] = df3.apply(amount_for_12_month, str = sr, axis=1)
    df2[sr]=df3[sr]
    
display(df3)
display(df1,df2)

,API,PermitDate,SpudDate,CompletionDate,FirstProductionDate,operatorNameIHS,formation,BasinName,StateName,CountyName,LatWGS84,LonWGS84,BottomHoleLatitude,BottomHoleLongitude,LATERAL_LENGTH_BLEND,PROP_PER_FOOT,WATER_PER_FOOT
0,5005072170100,2014-05-06,2014-05-06,2014-12-02,2014-11-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,NIOBRARA,DENVER BASIN,COLORADO,ARAPAHOE,39.684606,-104.642128,39.68445,-104.60557,9005.0,994.6866,591.800400
1,5123377130000,2013-07-21,2013-10-06,2014-02-26,2014-02-01 00:00:00.000,SRC ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.509320,-104.780980,40.49692,-104.77859,4195.0,991.5857,628.632100
2,5123379280000,2013-09-08,2013-09-25,2014-09-07,2013-11-01 00:00:00.000,BONANZA CREEK ENERGY OPERATING CO LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.335390,-104.363000,40.34780,-104.36863,4273.0,1000.2760,564.484100
3,5123379400000,2013-09-11,2014-12-05,2015-03-31,2015-03-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.152220,-104.530780,40.17445,-104.52932,7078.0,973.4437,824.002000
4,5123385820100,2014-01-07,2014-01-13,2014-04-23,2014-04-01 00:00:00.000,GREAT WESTERN OPERATING COMPANY LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.508303,-104.868180,40.49558,-104.86757,3211.0,783.5919,603.141400
5,5123390320000,2014-02-27,2014-06-20,2014-10-30,2014-10-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.520989,-104.450861,40.52100,-104.46772,4259.0,1011.0440,698.681900
6,5123390440000,2014-02-28,2014-04-26,2014-08-16,2014-08-01 00:00:00.000,KERR-MCGEE OIL & GAS ONSHORE LP,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.118872,-104.789372,40.13079,-104.78716,4518.0,469.8262,798.167600
7,5123392690000,2014-04-14,2015-03-20,2015-08-03,2015-07-01 00:00:00.000,CRESTONE PEAK RESOURCES OPERATING LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.147015,-104.898342,40.16105,-104.89340,4975.0,1267.8870,835.992800
8,5123399750000,2014-08-09,2014-11-14,2015-04-16,2015-04-01 00:00:00.000,KERR-MCGEE OIL & GAS ONSHORE LP,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.263373,-104.727955,40.27426,-104.73307,4786.0,805.9642,1133.333000
9,5123402600000,2014-09-22,2015-06-16,2015-09-13,2015-09-01 00:00:00.000,EXTRACTION OIL & GAS LLC,CODELL,DENVER BASIN,COLORADO,WELD,40.353967,-104.944679,40.35440,-104.96173,4195.0,926.5010,403.322300
10,5123409020000,2014-12-23,2015-02-07,2015-09-07,2015-09-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.482361,-104.468261,40.48424,-104.45072,4240.0,697.0967,983.059900
11,5123410480000,2015-01-21,2015-03-16,2015-04-23,2015-04-01 00:00:00.000,BONANZA CREEK ENERGY OPERATING CO LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,40.433139,-104.298585,40.43460,-104.28176,4294.0,896.9146,604.394700
12,30015414470000,2013-06-07,2013-10-06,2014-01-07,2013-12-01 00:00:00.000,OXY USA INC,BONE SPRING,PERMIAN BASIN,NEW MEXICO,EDDY,32.312443,-104.030511,32.31051,-104.01594,3790.0,648.1232,477.618100
13,30025425390000,2015-04-30,2015-06-17,2015-10-10,2015-08-01 00:00:00.000,EOG RESOURCES INCORPORATED,WOLFCAMP UPPER,PERMIAN BASIN,NEW MEXICO,LEA,32.080410,-103.530040,32.09347,-103.52959,4583.0,1657.9800,1625.025000
14,33023010960000,2013-08-22,2014-01-19,2014-04-07,2014-03-01 00:00:00.000,PETRO-HUNT LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,DIVIDE,48.893759,-103.647074,48.86601,-103.64545,10055.0,247.5587,193.152500
15,33025026780000,2014-09-30,2015-05-04,2015-09-23,2015-08-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,DUNN,47.457199,-102.876301,47.48709,-102.87709,10225.0,326.3353,763.942100
16,33053048870100,2013-03-21,2014-08-06,2014-11-05,2014-11-01 00:00:00.000,OASIS PETROLEUM NORTH AMERICA LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.995019,-103.561306,47.99470,-103.52035,9400.0,984.4741,559.110700
17,33053051530000,2013-07-29,2013-09-03,2014-04-27,2014-04-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.992928,-103.020490,48.02321,-103.01697,10415.0,341.2530,233.851900
18,33053056390200,2014-01-23,2014-12-18,2015-01-17,2015-01-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,THREE FORKS / BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,48.067984,-103.032125,48.08104,-103.03132,1513.0,455.8970,367.239100
19,33053056550000,2014-01-28,2014-03-14,2014-06-25,2014-06-01 00:00:00.000,NINE POINT ENERGY LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.791114,-103.545864,47.81872,-103.54224,9613.0,392.4996,400.888700
20,33053059400000,2014-05-15,2014-11-13,2015-04-03,2015-03-01 00:00:00.000,XTO ENERGY INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.746094,-103.098475,47.71838,-103.09252,10021.0,375.7643,361.355000
21,33053061530000,2014-08-05,2015-01-27,2015-06-28,2015-06-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.846022,-102.967045,47.81920,-102.96232,9291.0,440.1811,279.032700
22,33053061600000,2014-08-05,2014-09-25,2015-01-13,2014-12-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.675447,-103.316278,47.70267,-103.31067,10052.0,148.4382,119.386300
23,33053061970000,2014-08-15,2015-02-25,2015-08-10,2015-08-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.920949,-102.856899,47.92118,-102.81310,9841.0,354.8798,240.360000
24,33053062710000,2014-09-15,2014-11-02,2015-04-05,2015-03-01 00:00:00.000,WHITING OIL & GAS CORPORATION,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.847589,-103.975208,47.82010,-103.98625,10951.0,286.4915,236.736400
25,33053067490000,2015-02-23,2015-07-09,2015-10-10,2015-10-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,48.022461,-103.109486,47.99290,-103.10193,11238.0,401.0879,174.951200
26,33061032390000,2014-08-05,2014-10-14,2015-02-16,2015-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MOUNTRAIL,48.109905,-102.565508,48.09766,-102.54984,5102.0,307.2087,474.892600
27,33061033560000,2014-10-16,2015-02-06,2015-07-24,2015-07-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MOUNTRAIL,48.140773,-102.694397,48.11112,-102.69618,9872.0,206.0430,161.287500
28,33105031270000,2013-07-16,2013-09-19,2014-02-10,2014-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.167886,-103.193273,48.14049,-103.18976,9211.0,366.1146,3.051352
29,33105032030000,2013-09-09,2013-10-24,2014-04-26,2014-04-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.230954,-103.189569,48.19827,-103.19005,11492.0,359.6471,301.821500
30,33105034810000,2014-03-24,2014-06-06,2015-01-15,2014-12-01 00:00:00.000,XTO ENERGY INCORPORATED,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.516578,-102.938572,48.49633,-102.93151,7143.0,346.7994,394.368900
31,33105035380000,2014-05-23,2014-06-11,2014-12-29,2014-12-01 00:00:00.000,LIBERTY RESOURCES MANAGEMENT COMPANY LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.503628,-102.977092,48.53119,-102.97815,9947.0,422.7651,815.382500
32,33105035810000,2014-06-19,2014-09-01,2015-05-13,2015-03-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.603374,-103.032381,48.57598,-103.03142,9521.0,333.2274,256.376800
33,33105036550100,2014-08-04,2014-10-27,2015-02-26,2015-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.112097,-103.294476,48.13924,-103.29261,4542.0,330.9360,231.485800
34,33105037690100,2014-09-22,2014-12-23,2015-05-08,2015-03-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,48.225953,-103.318167,48.19845,-103.31350,9477.0,610.1913,517.700600
35,35017246780000,2014-03-19,2014-03-21,2014-05-19,2014-06-01 00:00:00.000,MARATHON OIL COMPANY,WOODFORD,ANADARKO BASIN,OKLAHOMA,CANADIAN,35.550467,-97.837858,35.53706,-97.83706,4596.0,1294.5750,1924.085000
36,35017246960000,2014-09-03,2014-09-28,2014-12-10,2014-12-01 00:00:00.000,CIMAREX ENERGY COMPANY,WOODFORD,ANADARKO BASIN,OKLAHOMA,CANADIAN,35.383976,-97.991358,35.40532,-97.99148,7440.0,2053.6050,1768.781000
37,35073250300000,2014-11-26,2015-02-14,2015-08-25,2015-08-01 00:00:00.000,CHAPARRAL ENERGY LIMITED LIABILITY CORP,OSWEGO,ANADARKO BASIN,OKLAHOMA,KINGFISHER,36.044720,-97.893227,36.03002,-97.89306,4530.0,108.3326,382.215800
38,42105419830000,2014-02-27,2014-03-03,2014-06-04,2014-06-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,30.932566,-101.224790,30.91022,-101.22338,7330.0,1201.4860,1170.349000
39,42105420060100,2014-04-10,2014-06-07,2014-08-04,2014-08-01 00:00:00.000,EP ENERGY E&P COMPANY LP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,31.036220,-101.298203,31.05840,-101.29816,7727.0,1322.0210,928.173800
40,42105421020000,2014-08-16,2014-08-23,2014-12-22,2014-12-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,30.931085,-101.275646,30.91015,-101.27472,6853.0,1247.4980,1382.348000
41,42105421500000,2014-10-07,2014-11-23,2015-03-29,2015-03-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,30.891880,-101.239248,30.91010,-101.23926,5946.0,1182.1640,1441.936000
42,42301318440000,2012-09-13,2012-11-15,2014-01-27,2013-04-01 00:00:00.000,SHELL WESTERN E & P INCORPORATED LP,BONE SPRING,PERMIAN BASIN,TEXAS,LOVING,31.955840,-103.740776,31.94281,-103.74097,3656.0,488.5271,354.653600
43,42317401950000,2015-05-18,2015-06-23,2015-10-06,2015-10-01 00:00:00.000,PIONEER NATURAL RESOURCES USA INC,SPRABERRY,PERMIAN BASIN,TEXAS,MARTIN,32.175802,-102.062501,32.19690,-102.06904,7290.0,1157.6290,1560.677000
44,42371392130100,2014-06-27,2014-08-13,2014-12-01,2014-11-01 00:00:00.000,DIAMONDBACK EXPLORATION & PROD LLC,WOLFCAMP,PERMIAN BASIN,TEXAS,PECOS,31.103318,-103.107997,31.10177,-103.13352,7664.0,1785.7310,3272.875000
45,42383381710000,2013-01-09,2013-10-23,2014-03-07,2014-02-01 00:00:00.000,SABLE PERMIAN RESOURCES LAND LLC,WOLFCAMP,PERMIAN BASIN,TEXAS,REAGAN,31.287603,-101.589564,31.25907,-101.58952,9619.0,1659.3060,1489.541000
46,42389339940000,2013-11-04,2014-02-03,2014-07-16,2014-06-01 00:00:00.000,EOG RESOURCES INCORPORATED,WOLFCAMP,PERMIAN BASIN,TEXAS,REEVES,31.613055,-103.943273,31.59780,-103.94402,4808.0,1535.0170,1263.295000
47,42389345710000,2014-10-06,2014-11-30,2015-03-31,2015-03-01 00:00:00.000,BHP BILLITON PETROLEUM(TXLA OP) COMPANY,WOLFCAMP,PERMIAN BASIN,TEXAS,REEVES,31.767678,-103.855621,31.78125,-103.85369,4738.0,1319.8350,1201.862000
48,42461395750000,2014-09-17,2014-11-07,2015-06-07,2015-06-01 00:00:00.000,PIONEER NATURAL RESOURCES USA INC,SPRABERRY,PERMIAN BASIN,TEXAS,UPTON,31.268789,-101.789362,31.24249,-101.78967,9091.0,983.5690,1691.322000
49,49021210550000,2013-11-13,2014-01-10,2014-05-19,2014-03-01 00:00:00.000,SAMSON EXPLORATION LLC,CODELL,DENVER BASIN,WYOMING,LARAMIE,41.289530,-104.662340,41.27109,-104.66166,6030.0,1106.8640,652.499000

,API,CompletionDate,FirstProductionDate,formation,BasinName,StateName,CountyName,LatWGS84,LonWGS84,PROP_PER_FOOT
0,5123402600000,2015-09-13,2015-09-01 00:00:00.000,CODELL,DENVER BASIN,COLORADO,WELD,40.353967,-104.944679,926.5010
1,5123409020000,2015-09-07,2015-09-01 00:00:00.000,NIOBRARA,PERMIAN BASIN,COLORADO,WELD,40.482361,-104.468261,697.0967
2,5123410480000,2014-01-07,2015-04-01 00:00:00.000,NIOBRARA,DENVER BASIN,NORTH DAKOTA,WELD,41.780937,-103.904955,896.9146
3,30015414470000,2014-01-07,2013-12-01 00:00:00.000,BONE SPRING,PERMIAN BASIN,NEW MEXICO,EDDY,41.780937,-103.904955,648.1232
4,30025425390000,2015-10-10,2015-08-01 00:00:00.000,WOLFCAMP UPPER,PERMIAN BASIN,NEW MEXICO,LEA,32.080410,-103.530040,1657.9800
5,33053048870100,2014-11-05,2014-11-01 00:00:00.000,BAKKEN,PERMIAN BASIN,NORTH DAKOTA,MCKENZIE,47.995019,-103.561306,984.4741
6,33053051530000,2014-04-27,2014-04-01 00:00:00.000,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,47.992928,-103.020490,341.2530

,API,Liquid,Gas,RatioGasOil,Water,Liquid for 12,Gas for 12,RatioGasOil for 12,Water for 12
0,5005072170100,201325,401879,43,26339,139501,139501,139501,139501
1,5123377130000,34625,135121,101,7203,25118,25118,25118,25118
2,5123379280000,69009,157315,52,12876,49692,49692,49692,49692
3,5123379400000,81048,364852,132,18391,63292,63292,63292,63292
4,5123385820100,18050,79732,1502,6836,15569,15569,15569,15569
5,5123390320000,38365,141783,90,14765,27186,27186,27186,27186
6,5123390440000,108032,514677,149,2293,80136,80136,80136,80136
7,5123392690000,77472,339078,113,14009,51224,51224,51224,51224
8,5123399750000,39758,866522,542,8061,24843,24843,24843,24843
9,5123402600000,91774,468794,130,24457,57227,57227,57227,57227
10,5123409020000,48796,320134,195,17149,37227,37227,37227,37227
11,5123410480000,40916,105928,66,28162,32299,32299,32299,32299
12,30015414470000,70044,79161,28,188222,47786,47786,47786,47786
13,30025425390000,281523,412154,24,431691,188274,188274,188274,188274
14,33023010960000,114677,74427,0,175075,76658,76658,76658,76658
15,33025026780000,246346,254300,11,125521,172671,172671,172671,172671
16,33053048870100,192598,225804,23,232904,151898,151898,151898,151898
17,33053051530000,209884,743704,94,43079,144432,144432,144432,144432
18,33053056390200,96426,272782,67,28560,73737,73737,73737,73737
19,33053056550000,131333,151870,20,113022,93250,93250,93250,93250
20,33053059400000,118509,228887,37,81397,73474,73474,73474,73474
21,33053061530000,177349,281283,23,53127,118408,118408,118408,118408
22,33053061600000,67576,128775,35,25559,46865,46865,46865,46865
23,33053061970000,143473,286696,46,56021,113232,113232,113232,113232
24,33053062710000,76054,75149,14,102252,54947,54947,54947,54947
25,33053067490000,305750,1283533,112,91929,206429,206429,206429,206429
26,33061032390000,69553,75147,16,86849,49641,49641,49641,49641
27,33061033560000,150776,183883,23,51992,108911,108911,108911,108911
28,33105031270000,63100,183253,68,130153,45745,45745,45745,45745
29,33105032030000,114125,226171,34,169594,75568,75568,75568,75568
30,33105034810000,65310,75704,12,86629,35012,35012,35012,35012
31,33105035380000,200140,362631,53,366569,150816,150816,150816,150816
32,33105035810000,80612,195434,63,103859,61266,61266,61266,61266
33,33105036550100,107681,264406,57,73058,81752,81752,81752,81752
34,33105037690100,179799,410107,53,127973,117135,117135,117135,117135
35,35017246780000,32732,405122,317,0,22357,22357,22357,22357
36,35017246960000,159987,1131290,3603,0,97471,97471,97471,97471
37,35073250300000,91761,92826,26,0,62084,62084,62084,62084
38,42105419830000,30474,297079,304,107144,23091,23091,23091,23091
39,42105420060100,68082,346158,229,99467,58418,58418,58418,58418
40,42105421020000,46242,808150,386,137837,35103,35103,35103,35103
41,42105421500000,47727,350877,261,101334,38471,38471,38471,38471
42,42301318440000,37897,369912,176,44640,32844,32844,32844,32844
43,42317401950000,87498,126158,29,301642,64757,64757,64757,64757
44,42371392130100,159724,128653,6,357442,94889,94889,94889,94889
45,42383381710000,102284,168435,35,205343,68214,68214,68214,68214
46,42389339940000,155902,915366,136,559617,103630,103630,103630,103630
47,42389345710000,165113,881109,123,1227309,115469,115469,115469,115469
48,42461395750000,95097,406007,119,121371,71749,71749,71749,71749
49,49021210550000,72608,41769,1,47664,57131,57131,57131,57131

,API,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate
0,5005072170100,2014,11,9783,11470,1.172442,10558,1.079219,14,2016-04-06 17:20:05.757
1,5005072170100,2014,12,24206,26476,1.093778,5719,0.236264,31,2016-04-06 17:20:05.757
2,5005072170100,2015,1,20449,26381,1.290088,2196,0.107389,31,2016-04-06 17:20:05.757
3,5005072170100,2015,2,6820,10390,1.523460,583,0.085484,28,2016-04-06 17:20:05.757
4,5005072170100,2015,3,7349,7005,0.953191,122,0.016601,13,2016-06-16 14:07:33.203
5,5005072170100,2015,4,16552,19802,1.196351,902,0.054495,30,2016-04-06 17:20:05.757
6,5005072170100,2015,5,13844,30241,2.184412,1003,0.072450,31,2016-04-06 17:20:05.757
7,5005072170100,2015,6,10655,27885,2.617081,686,0.064383,30,2016-04-06 17:20:05.757
8,5005072170100,2015,7,6135,15585,2.540342,275,0.044825,25,2016-04-06 17:20:05.757
9,5005072170100,2015,8,11105,21119,1.901756,471,0.042413,31,2016-04-06 17:20:05.757
10,5005072170100,2015,9,7903,21089,2.668480,420,0.053144,30,2016-06-16 14:07:33.203
11,5005072170100,2015,10,4700,12948,2.754894,239,0.050851,31,2016-06-16 14:07:33.203
12,5005072170100,2015,11,6774,10748,1.586655,383,0.056540,22,2016-06-16 14:07:33.203
13,5005072170100,2015,12,7115,15985,2.246662,389,0.054673,31,2016-04-06 17:20:05.757
14,5005072170100,2016,1,6547,22480,3.433634,357,0.054529,31,2016-04-06 17:20:05.757
15,5005072170100,2016,2,5117,16072,3.140903,270,0.052765,29,2016-05-26 14:06:53.487
16,5005072170100,2016,3,5280,15015,2.843750,242,0.045833,31,2016-05-26 14:06:53.487
17,5005072170100,2016,4,4762,13635,2.863293,236,0.049559,30,2016-06-23 14:03:21.150
18,5005072170100,2016,5,4962,14468,2.915760,250,0.050383,31,2016-09-01 14:08:41.917
19,5005072170100,2016,6,4478,12950,2.891916,200,0.044663,30,2016-09-01 14:08:41.917
20,5005072170100,2016,7,4328,13345,3.083410,241,0.055684,31,2016-09-22 14:09:09.183
21,5005072170100,2016,8,4777,12725,2.663806,215,0.045007,31,2016-10-27 14:07:50.373
22,5005072170100,2016,9,3849,12784,3.321382,194,0.050403,30,2016-12-01 14:05:44.580
23,5005072170100,2016,10,3835,11281,2.941591,188,0.049022,31,2016-12-22 14:18:34.197
24,5123377130000,2014,2,2341,569,0.243059,14,0.005980,7,2016-04-07 04:57:02.823
25,5123377130000,2014,3,4689,8638,1.842184,2755,0.587545,26,2016-04-07 04:57:02.823
26,5123377130000,2014,4,3056,11981,3.920484,709,0.232003,30,2016-04-07 04:57:02.823
27,5123377130000,2014,5,1979,10271,5.189995,351,0.177362,31,2016-04-07 04:57:02.823
28,5123377130000,2014,6,2037,8214,4.032401,265,0.130093,29,2016-04-07 04:57:02.823
29,5123377130000,2014,7,2260,7180,3.176991,262,0.115929,31,2016-04-07 04:57:02.823
...,...,...,...,...,...,...,...,...,...,...
1170,42461395750000,2016,12,1792,14838,8.280134,2044,1.140625,0,2017-09-28 16:48:19.797
1171,42461395750000,2017,1,1677,15912,9.488372,1867,1.113298,0,2017-09-28 16:48:19.797
1172,42461395750000,2017,2,1383,13676,9.888648,1458,1.054230,0,2018-02-25 10:51:26.720
1173,42461395750000,2017,3,1576,15144,9.609137,1565,0.993020,0,2018-02-25 10:51:26.720
1174,42461395750000,2017,4,1486,14048,9.453567,1395,0.938762,0,2018-02-25 10:51:26.720
1175,42461395750000,2017,5,1424,13660,9.592697,1237,0.868680,0,2018-02-25 10:51:26.720
1176,49021210550000,2014,3,1780,0,0.000000,0,0.000000,1,2016-04-06 15:40:34.957
1177,49021210550000,2014,4,6360,2281,0.358648,239,0.037579,24,2016-04-06 15:40:34.957
1178,49021210550000,2014,5,7774,3129,0.402495,6830,0.878570,23,2016-04-06 15:40:34.957
1179,49021210550000,2014,6,10397,6060,0.582860,8439,0.811676,27,2016-04-06 15:40:34.957
1180,49021210550000,2014,7,8189,7639,0.932837,6796,0.829894,31,2016-04-06 15:40:34.957
1181,49021210550000,2014,8,4251,4415,1.038579,3283,0.772289,22,2016-04-06 15:40:34.957
1182,49021210550000,2014,9,178,62,0.348315,107,0.601124,2,2016-04-06 15:40:34.957
1183,49021210550000,2014,10,4456,1724,0.386894,3823,0.857944,21,2016-04-06 15:40:34.957
1184,49021210550000,2014,11,4540,1883,0.414758,4012,0.883700,26,2016-04-06 15:40:34.957
1185,49021210550000,2014,12,3696,2134,0.577381,2771,0.749729,27,2016-04-06 15:40:34.957
1186,49021210550000,2015,1,2288,333,0.145542,890,0.388986,22,2016-04-06 15:40:34.957
1187,49021210550000,2015,2,3222,1693,0.525450,2390,0.741775,28,2016-04-06 15:40:34.957
1188,49021210550000,2015,3,2737,2218,0.810376,1968,0.719035,30,2016-04-06 15:40:34.957
1189,49021210550000,2015,4,2282,1508,0.660824,1380,0.604733,30,2016-04-06 15:40:34.957
1190,49021210550000,2015,5,2350,1809,0.769787,1421,0.604681,31,2016-04-06 15:40:34.957
1191,49021210550000,2015,6,351,334,0.951567,243,0.692308,5,2016-04-06 15:40:34.957
1192,49021210550000,2015,7,0,0,0.000000,0,0.000000,0,2016-04-06 15:40:34.957
1193,49021210550000,2015,8,0,0,0.000000,0,0.000000,0,2016-04-06 15:40:34.957
1194,49021210550000,2015,9,660,346,0.524242,154,0.233333,20,2016-04-06 15:40:34.957
1195,49021210550000,2015,10,1262,665,0.526941,341,0.270206,31,2016-04-06 15:40:34.957
1196,49021210550000,2015,11,1410,826,0.585816,572,0.405674,30,2016-04-06 15:40:34.957
1197,49021210550000,2015,12,1443,895,0.620236,620,0.429660,31,2016-04-06 15:40:34.957
1198,49021210550000,2016,1,1654,988,0.597340,808,0.488513,31,2016-04-06 15:40:34.957
1199,49021210550000,2016,2,1328,827,0.622741,577,0.434488,29,2016-04-06 15:40:34.957

,API,PermitDate,SpudDate,CompletionDate,FirstProductionDate,operatorNameIHS,formation,BasinName,StateName,CountyName,...,PROP_PER_FOOT,WATER_PER_FOOT,Liquid,Gas,RatioGasOil,Water,Liquid for 12,Gas for 12,RatioGasOil for 12,Water for 12
0,5005072170100,2014-05-06,2014-05-06,2014-12-02,2014-11-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,NIOBRARA,DENVER BASIN,COLORADO,ARAPAHOE,...,994.6866,591.800400,201325,401879,43,26339,139501,139501,139501,139501
1,5123377130000,2013-07-21,2013-10-06,2014-02-26,2014-02-01 00:00:00.000,SRC ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,991.5857,628.632100,34625,135121,101,7203,25118,25118,25118,25118
2,5123379280000,2013-09-08,2013-09-25,2014-09-07,2013-11-01 00:00:00.000,BONANZA CREEK ENERGY OPERATING CO LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,1000.2760,564.484100,69009,157315,52,12876,49692,49692,49692,49692
3,5123379400000,2013-09-11,2014-12-05,2015-03-31,2015-03-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,973.4437,824.002000,81048,364852,132,18391,63292,63292,63292,63292
4,5123385820100,2014-01-07,2014-01-13,2014-04-23,2014-04-01 00:00:00.000,GREAT WESTERN OPERATING COMPANY LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,783.5919,603.141400,18050,79732,1502,6836,15569,15569,15569,15569
5,5123390320000,2014-02-27,2014-06-20,2014-10-30,2014-10-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,1011.0440,698.681900,38365,141783,90,14765,27186,27186,27186,27186
6,5123390440000,2014-02-28,2014-04-26,2014-08-16,2014-08-01 00:00:00.000,KERR-MCGEE OIL & GAS ONSHORE LP,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,469.8262,798.167600,108032,514677,149,2293,80136,80136,80136,80136
7,5123392690000,2014-04-14,2015-03-20,2015-08-03,2015-07-01 00:00:00.000,CRESTONE PEAK RESOURCES OPERATING LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,1267.8870,835.992800,77472,339078,113,14009,51224,51224,51224,51224
8,5123399750000,2014-08-09,2014-11-14,2015-04-16,2015-04-01 00:00:00.000,KERR-MCGEE OIL & GAS ONSHORE LP,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,805.9642,1133.333000,39758,866522,542,8061,24843,24843,24843,24843
9,5123402600000,2014-09-22,2015-06-16,2015-09-13,2015-09-01 00:00:00.000,EXTRACTION OIL & GAS LLC,CODELL,DENVER BASIN,COLORADO,WELD,...,926.5010,403.322300,91774,468794,130,24457,57227,57227,57227,57227
10,5123409020000,2014-12-23,2015-02-07,2015-09-07,2015-09-01 00:00:00.000,NOBLE ENERGY INCORPORATED,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,697.0967,983.059900,48796,320134,195,17149,37227,37227,37227,37227
11,5123410480000,2015-01-21,2015-03-16,2015-04-23,2015-04-01 00:00:00.000,BONANZA CREEK ENERGY OPERATING CO LLC,NIOBRARA,DENVER BASIN,COLORADO,WELD,...,896.9146,604.394700,40916,105928,66,28162,32299,32299,32299,32299
12,30015414470000,2013-06-07,2013-10-06,2014-01-07,2013-12-01 00:00:00.000,OXY USA INC,BONE SPRING,PERMIAN BASIN,NEW MEXICO,EDDY,...,648.1232,477.618100,70044,79161,28,188222,47786,47786,47786,47786
13,30025425390000,2015-04-30,2015-06-17,2015-10-10,2015-08-01 00:00:00.000,EOG RESOURCES INCORPORATED,WOLFCAMP UPPER,PERMIAN BASIN,NEW MEXICO,LEA,...,1657.9800,1625.025000,281523,412154,24,431691,188274,188274,188274,188274
14,33023010960000,2013-08-22,2014-01-19,2014-04-07,2014-03-01 00:00:00.000,PETRO-HUNT LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,DIVIDE,...,247.5587,193.152500,114677,74427,0,175075,76658,76658,76658,76658
15,33025026780000,2014-09-30,2015-05-04,2015-09-23,2015-08-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,DUNN,...,326.3353,763.942100,246346,254300,11,125521,172671,172671,172671,172671
16,33053048870100,2013-03-21,2014-08-06,2014-11-05,2014-11-01 00:00:00.000,OASIS PETROLEUM NORTH AMERICA LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,984.4741,559.110700,192598,225804,23,232904,151898,151898,151898,151898
17,33053051530000,2013-07-29,2013-09-03,2014-04-27,2014-04-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,341.2530,233.851900,209884,743704,94,43079,144432,144432,144432,144432
18,33053056390200,2014-01-23,2014-12-18,2015-01-17,2015-01-01 00:00:00.000,NEWFIELD PRODUCTION COMPANY,THREE FORKS / BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,455.8970,367.239100,96426,272782,67,28560,73737,73737,73737,73737
19,33053056550000,2014-01-28,2014-03-14,2014-06-25,2014-06-01 00:00:00.000,NINE POINT ENERGY LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,392.4996,400.888700,131333,151870,20,113022,93250,93250,93250,93250
20,33053059400000,2014-05-15,2014-11-13,2015-04-03,2015-03-01 00:00:00.000,XTO ENERGY INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,375.7643,361.355000,118509,228887,37,81397,73474,73474,73474,73474
21,33053061530000,2014-08-05,2015-01-27,2015-06-28,2015-06-01 00:00:00.000,BURLINGTON RESOURCES O&G CO LP,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,440.1811,279.032700,177349,281283,23,53127,118408,118408,118408,118408
22,33053061600000,2014-08-05,2014-09-25,2015-01-13,2014-12-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,148.4382,119.386300,67576,128775,35,25559,46865,46865,46865,46865
23,33053061970000,2014-08-15,2015-02-25,2015-08-10,2015-08-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,354.8798,240.360000,143473,286696,46,56021,113232,113232,113232,113232
24,33053062710000,2014-09-15,2014-11-02,2015-04-05,2015-03-01 00:00:00.000,WHITING OIL & GAS CORPORATION,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,286.4915,236.736400,76054,75149,14,102252,54947,54947,54947,54947
25,33053067490000,2015-02-23,2015-07-09,2015-10-10,2015-10-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MCKENZIE,...,401.0879,174.951200,305750,1283533,112,91929,206429,206429,206429,206429
26,33061032390000,2014-08-05,2014-10-14,2015-02-16,2015-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MOUNTRAIL,...,307.2087,474.892600,69553,75147,16,86849,49641,49641,49641,49641
27,33061033560000,2014-10-16,2015-02-06,2015-07-24,2015-07-01 00:00:00.000,HESS BAKKEN INVESTMENTS II LLC,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,MOUNTRAIL,...,206.0430,161.287500,150776,183883,23,51992,108911,108911,108911,108911
28,33105031270000,2013-07-16,2013-09-19,2014-02-10,2014-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,366.1146,3.051352,63100,183253,68,130153,45745,45745,45745,45745
29,33105032030000,2013-09-09,2013-10-24,2014-04-26,2014-04-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,359.6471,301.821500,114125,226171,34,169594,75568,75568,75568,75568
30,33105034810000,2014-03-24,2014-06-06,2015-01-15,2014-12-01 00:00:00.000,XTO ENERGY INCORPORATED,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,346.7994,394.368900,65310,75704,12,86629,35012,35012,35012,35012
31,33105035380000,2014-05-23,2014-06-11,2014-12-29,2014-12-01 00:00:00.000,LIBERTY RESOURCES MANAGEMENT COMPANY LLC,BAKKEN,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,422.7651,815.382500,200140,362631,53,366569,150816,150816,150816,150816
32,33105035810000,2014-06-19,2014-09-01,2015-05-13,2015-03-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,333.2274,256.376800,80612,195434,63,103859,61266,61266,61266,61266
33,33105036550100,2014-08-04,2014-10-27,2015-02-26,2015-02-01 00:00:00.000,WHITING OIL & GAS CORPORATION,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,330.9360,231.485800,107681,264406,57,73058,81752,81752,81752,81752
34,33105037690100,2014-09-22,2014-12-23,2015-05-08,2015-03-01 00:00:00.000,CONTINENTAL RESOURCES INCORPORATED,THREE FORKS,WILLISTON BASIN,NORTH DAKOTA,WILLIAMS,...,610.1913,517.700600,179799,410107,53,127973,117135,117135,117135,117135
35,35017246780000,2014-03-19,2014-03-21,2014-05-19,2014-06-01 00:00:00.000,MARATHON OIL COMPANY,WOODFORD,ANADARKO BASIN,OKLAHOMA,CANADIAN,...,1294.5750,1924.085000,32732,405122,317,0,22357,22357,22357,22357
36,35017246960000,2014-09-03,2014-09-28,2014-12-10,2014-12-01 00:00:00.000,CIMAREX ENERGY COMPANY,WOODFORD,ANADARKO BASIN,OKLAHOMA,CANADIAN,...,2053.6050,1768.781000,159987,1131290,3603,0,97471,97471,97471,97471
37,35073250300000,2014-11-26,2015-02-14,2015-08-25,2015-08-01 00:00:00.000,CHAPARRAL ENERGY LIMITED LIABILITY CORP,OSWEGO,ANADARKO BASIN,OKLAHOMA,KINGFISHER,...,108.3326,382.215800,91761,92826,26,0,62084,62084,62084,62084
38,42105419830000,2014-02-27,2014-03-03,2014-06-04,2014-06-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,...,1201.4860,1170.349000,30474,297079,304,107144,23091,23091,23091,23091
39,42105420060100,2014-04-10,2014-06-07,2014-08-04,2014-08-01 00:00:00.000,EP ENERGY E&P COMPANY LP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,...,1322.0210,928.173800,68082,346158,229,99467,58418,58418,58418,58418
40,42105421020000,2014-08-16,2014-08-23,2014-12-22,2014-12-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,...,1247.4980,1382.348000,46242,808150,386,137837,35103,35103,35103,35103
41,42105421500000,2014-10-07,2014-11-23,2015-03-29,2015-03-01 00:00:00.000,APPROACH OPERATING LIMITED LIABILITY CORP,WOLFCAMP,PERMIAN BASIN,TEXAS,CROCKETT,...,1182.1640,1441.936000,47727,350877,261,101334,38471,38471,38471,38471
42,42301318440000,2012-09-13,2012-11-15,2014-01-27,2013-04-01 00:00:00.000,SHELL WESTERN E & P INCORPORATED LP,BONE SPRING,PERMIAN BASIN,TEXAS,LOVING,...,488.5271,354.653600,37897,369912,176,44640,32844,32844,32844,32844
43,42317401950000,2015-05-18,2015-06-23,2015-10-06,2015-10-01 00:00:00.000,PIONEER NATURAL RESOURCES USA INC,SPRABERRY,PERMIAN BASIN,TEXAS,MARTIN,...,1157.6290,1560.677000,87498,126158,29,301642,64757,64757,64757,64757
44,42371392130100,2014-06-27,2014-08-13,2014-12-01,2014-11-01 00:00:00.000,DIAMONDBACK EXPLORATION & PROD LLC,WOLFCAMP,PERMIAN BASIN,TEXAS,PECOS,...,1785.7310,3272.875000,159724,128653,6,357442,94889,94889,94889,94889
45,42383381710000,2013-01-09,2013-10-23,2014-03-07,2014-02-01 00:00:00.000,SABLE PERMIAN RESOURCES LAND LLC,WOLFCAMP,PERMIAN BASIN,TEXAS,REAGAN,...,1659.3060,1489.541000,102284,168435,35,205343,68214,68214,68214,68214
46,42389339940000,2013-11-04,2014-02-03,2014-07-16,2014-06-01 00:00:00.000,EOG RESOURCES INCORPORATED,WOLFCAMP,PERMIAN BASIN,TEXAS,REEVES,...,1535.0170,1263.295000,155902,915366,136,559617,103630,103630,103630,103630
47,42389345710000,2014-10-06,2014-11-30,2015-03-31,2015-03-01 00:00:00.000,BHP BILLITON PETROLEUM(TXLA OP) COMPANY,WOLFCAMP,PERMIAN BASIN,TEXAS,REEVES,...,1319.8350,1201.862000,165113,881109,123,1227309,115469,115469,115469,115469
48,42461395750000,2014-09-17,2014-11-07,2015-06-07,2015-06-01 00:00:00.000,PIONEER NATURAL RESOURCES USA INC,SPRABERRY,PERMIAN BASIN,TEXAS,UPTON,...,983.5690,1691.322000,95097,406007,119,121371,71749,71749,71749,71749
49,49021210550000,2013-11-13,2014-01-10,2014-05-19,2014-03-01 00:00:00.000,SAMSON EXPLORATION LLC,CODELL,DENVER BASIN,WYOMING,LARAMIE,...,1106.8640,652.499000,72608,41769,1,47664,57131,57131,57131,57131

In [53]:
import numpy as np
import pandas as pd
import math



def litrfun(row):
    sr = df2['liters_drunk'].mean()
    if row['liters_drunk'] < 0 or  row['liters_drunk'] > 10:
        return sr
    else:
        return row['liters_drunk']


def sexf(row):
    if row['sex'] == 'M':
        return 0
    else:
        return 1
    
def rowf(row):
    maxi = df2['row_number'].max()
    if math.isnan(row['row_number']) is True :
        return maxi
    else:
        return row['row_number']
    
def drinkfun(row):
    if row['drink'].find('beer') != -1 or row['drink'].find('Beer') != -1 :
        return 1
    else:
        return 0
    


df1 = pd.read_csv('cinema_sessions.csv',sep=' ')
display(df1)

df2 = pd.read_csv('titanic_with_labels.csv',sep=' ')
display('titanic_with_labes.csv', df2)


###############

df2 = df2[(df2.sex == 'м') | (df2.sex == 'ж') ]
display('task 2 without sex=Nan', df2)

df2['sex'] = df2.apply(sexf, axis=1)
display('task 3 with 0 and 1 instaed M and W', df2)

df2['row_number'] = df2.apply(rowf, axis=1)
display('task 4 row_number to max', df2)


df2['liters_drunk'] = df2.apply(litrfun, axis=1)
display('task 5 without unreal liters', df2)
###############

df2['age_18'] = df2['age'][df2['age']<18]
df2['age_1850'] = df2['age'][(df2['age']>18) & (df2['age']<50) ]
df2['age_50'] = df2['age'][df2['age']>50]
df2.drop(columns = ['age'],axis = 1, inplace = True)
display('task 6 with different ages', df2)


df2['drink']= df2.apply(drinkfun, axis = 1)
display('task 7 without beer!', df2)
print('\n', len(df2[df2['drink']==1]), 'хмельных напитков')

df2 = df2.merge(df1)
display(df2)

df2['morning'] = df2['session_start'][df2['session_start']<'12:00:00.00']
df2['day'] = df2['session_start'][(df2['session_start']<'17:00:00.00') & (df2['session_start']>'12:00:00.00')]
df2['evening'] = df2['session_start'][(df2['session_start']>'17:00:00.00')]
display('task 8 with time',df2)

      Unnamed: 0  check_number session_start
0              0          6729  08:42:00.000
1              1          6982  15:30:00.000
2              2          8219  14:15:00.000
3              3          6116  15:00:00.000
4              4          7707  08:42:00.000
5              5          1032  21:00:00.000
6              6          9219  21:00:00.000
7              7           183  22:30:00.000
8              8          6775  06:00:00.000
9              9          7098  06:00:00.000
10            10          4923  21:00:00.000
11            11          1222  15:30:00.000
12            12          4997  21:00:00.000
13            13          2678  08:42:00.000
14            14          1592  07:00:00.000
15            15           819  21:00:00.000
16            16          6079  22:30:00.000
17            17          3944  22:30:00.000
18            18          2409  06:15:00.000
19            19          6916  21:00:00.000
20            20          3369  08:42:00.000
21            21          2798  23:42:00.000
22            22          3649  07:30:00.000
23            23          2851  23:42:00.000
24            24          5530  08:42:00.000
25            25          9069  23:42:00.000
26            26          9312  15:30:00.000
27            27          2922  07:00:00.000
28            28          6942  22:30:00.000
29            29           972  21:00:00.000
...          ...           ...           ...
9970        9970          8299  14:00:00.000
9971        9971          7183  07:00:00.000
9972        9972          7249  14:00:00.000
9973        9973          4555  21:00:00.000
9974        9974          7392  23:42:00.000
9975        9975          6345  15:30:00.000
9976        9976          7481  06:15:00.000
9977        9977          6373  15:30:00.000
9978        9978          3501  15:34:00.000
9979        9979          6767  22:15:00.000
9980        9980          1091  23:42:00.000
9981        9981           642  14:00:00.000
9982        9982          7648  07:00:00.000
9983        9983          2975  07:00:00.000
9984        9984          4330  15:30:00.000
9985        9985          3343  15:34:00.000
9986        9986          5855  08:42:00.000
9987        9987          2840  22:15:00.000
9988        9988          7051  08:42:00.000
9989        9989          8073  15:30:00.000
9990        9990          8351  22:30:00.000
9991        9991          6588  23:42:00.000
9992        9992          6888  07:00:00.000
9993        9993          5344  15:34:00.000
9994        9994           334  07:00:00.000
9995        9995          6239  15:30:00.000
9996        9996          7272  07:30:00.000
9997        9997          7822  07:30:00.000
9998        9998          7397  15:34:00.000
9999        9999          2248  21:00:00.000

[10000 rows x 3 columns]

'titanic_with_labes.csv'

,sex,row_number,liters_drunk,age,drink,check_number,label
0,ж,79.0,2,66,Cola,3116,0
1,м,23.0,0,10,Fanta,8118,0
2,M,92.0,0,18,Fanta,2264,1
3,ж,52.0,5,67,Beerbeer,7640,1
4,ж,57.0,2,27,Beerbeer,8764,0
5,м,15.0,1,44,Bugbeer,6235,0
6,Ж,49.0,0,11,Cola,185,1
7,м,33.0,5,64,Fanta,2970,1
8,Ж,5.0,0,39,Water,6494,0
9,M,48.0,1,64,Water,9971,1
10,ж,78.0,99602005,51,Water,3592,0
11,м,32.0,2,35,Strong beer,2021,0
12,Ж,12.0,3,59,Cola,5675,1
13,ж,16.0,5,77,Bugbeer,1637,0
14,ж,46.0,74068055,37,Strong beer,7830,1
15,ж,4.0,3,18,Cola,2174,1
16,-,1.0,4,70,Strong beer,8641,1
17,-,18.0,4,16,Cola,9424,0
18,-,83.0,2,25,Fanta,3405,1
19,M,NaN,-6,15,Cola,2468,0
20,ж,40.0,3,55,Water,8793,0
21,Не указан,67.0,1,44,Strong beer,6158,0
22,м,9.0,4,47,Bugbeer,6079,1
23,M,8.0,4,51,Fanta,839,1
24,Ж,95.0,1,71,Strong beer,1634,1
25,-,65.0,2,33,Fanta,4953,1
26,м,70.0,44068553,31,Fanta,7091,0
27,-,19.0,4,30,Beerbeer,1405,1
28,м,52.0,3,38,Fanta,6992,1
29,-,97.0,4,56,Bugbeer,6773,0
...,...,...,...,...,...,...,...
9970,м,85.0,0,52,Bugbeer,7186,0
9971,-,85.0,1,73,Water,8437,1
9972,Не указан,61.0,73269268,57,Fanta,7699,1
9973,Ж,8.0,4,14,Cola,7457,1
9974,ж,59.0,1,69,Cola,1833,1
9975,ж,18.0,0,72,Bugbeer,1682,0
9976,Ж,83.0,1,53,Cola,8865,1
9977,Ж,30.0,0,79,Cola,8068,1
9978,-,34.0,1,18,Fanta,4533,0
9979,M,32.0,1,79,Water,5485,1
9980,Ж,83.0,2,78,Fanta,7773,0
9981,-,9.0,1,50,Strong beer,9025,1
9982,M,32.0,2,38,Cola,114,0
9983,ж,36.0,3,56,Beerbeer,7204,0
9984,м,79.0,50945726,60,Strong beer,789,1
9985,M,10.0,2,58,Cola,8801,1
9986,м,68.0,3,62,Fanta,1394,1
9987,ж,60.0,3,10,Water,4109,1
9988,M,84.0,83246800,28,Strong beer,78,1
9989,Ж,61.0,3,50,Bugbeer,774,1
9990,Ж,NaN,3,15,Water,1022,1
9991,Не указан,90.0,2,62,Cola,3058,0
9992,м,15.0,3,62,Strong beer,6510,0
9993,-,51.0,0,56,Fanta,2800,0
9994,ж,11.0,3,52,Strong beer,9510,1
9995,M,96.0,5,72,Beerbeer,9554,0
9996,-,22.0,4,45,Water,9933,0
9997,-,89.0,4,41,Beerbeer,2905,1
9998,Ж,26.0,0,20,Fanta,6198,1
9999,-,64.0,1,37,Bugbeer,6523,0

'task 2 without sex=Nan'

     sex  row_number  liters_drunk  age        drink  check_number  label
0      ж        79.0             2   66         Cola          3116      0
1      м        23.0             0   10        Fanta          8118      0
3      ж        52.0             5   67     Beerbeer          7640      1
4      ж        57.0             2   27     Beerbeer          8764      0
5      м        15.0             1   44      Bugbeer          6235      0
7      м        33.0             5   64        Fanta          2970      1
10     ж        78.0      99602005   51        Water          3592      0
11     м        32.0             2   35  Strong beer          2021      0
13     ж        16.0             5   77      Bugbeer          1637      0
14     ж        46.0      74068055   37  Strong beer          7830      1
15     ж         4.0             3   18         Cola          2174      1
20     ж        40.0             3   55        Water          8793      0
22     м         9.0             4   47      Bugbeer          6079      1
26     м        70.0      44068553   31        Fanta          7091      0
28     м        52.0             3   38        Fanta          6992      1
32     ж        44.0             4   42  Strong beer          3258      1
36     ж        86.0             0   55        Fanta          2104      1
37     м        40.0             4   46        Water          1784      1
38     ж        57.0             3   22         Cola          2744      0
41     м        67.0             0   40        Fanta          2285      0
42     м        52.0             3   50     Beerbeer          3395      0
43     ж        33.0             2   60        Fanta          8192      1
44     ж        48.0             2   53         Cola          4185      0
46     м        29.0             1   49         Cola          2884      0
47     ж        34.0             0   12         Cola          2506      0
53     ж        50.0             4   48        Fanta          8911      1
55     м        42.0             5   60     Beerbeer          1994      1
66     ж        31.0             0   53        Fanta          9976      0
69     ж        95.0             2   29        Water            85      0
73     ж        90.0            -6   23      Bugbeer          2593      0
...   ..         ...           ...  ...          ...           ...    ...
9906   ж        31.0            -5   43      Bugbeer           640      1
9907   ж        84.0             5   30         Cola          4893      1
9910   м        19.0             1   32      Bugbeer          9137      0
9913   м        35.0             1   27         Cola          7265      1
9915   ж        62.0             0   68         Cola          4571      1
9920   ж         3.0             5   74         Cola          7107      1
9921   ж        77.0             2   16        Fanta          8516      1
9931   ж        83.0             0   67     Beerbeer          8178      1
9932   м         NaN             0   21  Strong beer          6959      0
9936   м        95.0             3   45        Fanta          5339      0
9942   ж         NaN             2   22        Water          4528      0
9943   м        38.0             0   51        Water          8750      0
9947   ж        29.0             1   46         Cola          9939      1
9949   ж         0.0             1   30      Bugbeer          6124      1
9951   ж        89.0             5   35  Strong beer          6724      1
9952   м        67.0             3   52     Beerbeer          3765      1
9953   м        99.0             3   49     Beerbeer          9478      0
9958   ж        95.0             1   66     Beerbeer          8145      0
9960   м        93.0             0   60     Beerbeer          6307      1
9964   ж        15.0             0   57        Fanta          5314      1
9965   м        91.0             5   36        Water          7553      0
9970   м        85.0             0   52      Bugbeer          7186      0
9974   ж        59.0             1   69         Cola          1833      1
9975   ж        18.0             0   72      Bugbeer          1682      0
9983   ж        36.0             3   56     Beerbeer          7204      0
9984   м        79.0      50945726   60  Strong beer           789      1
9986   м        68.0             3   62        Fanta          1394      1
9987   ж        60.0             3   10        Water          4109      1
9992   м        15.0             3   62  Strong beer          6510      0
9994   ж        11.0             3   52  Strong beer          9510      1

[3291 rows x 7 columns]

'task 3 with 0 and 1 instaed M and W'

      sex  row_number  liters_drunk  age        drink  check_number  label
0       1        79.0             2   66         Cola          3116      0
1       1        23.0             0   10        Fanta          8118      0
3       1        52.0             5   67     Beerbeer          7640      1
4       1        57.0             2   27     Beerbeer          8764      0
5       1        15.0             1   44      Bugbeer          6235      0
7       1        33.0             5   64        Fanta          2970      1
10      1        78.0      99602005   51        Water          3592      0
11      1        32.0             2   35  Strong beer          2021      0
13      1        16.0             5   77      Bugbeer          1637      0
14      1        46.0      74068055   37  Strong beer          7830      1
15      1         4.0             3   18         Cola          2174      1
20      1        40.0             3   55        Water          8793      0
22      1         9.0             4   47      Bugbeer          6079      1
26      1        70.0      44068553   31        Fanta          7091      0
28      1        52.0             3   38        Fanta          6992      1
32      1        44.0             4   42  Strong beer          3258      1
36      1        86.0             0   55        Fanta          2104      1
37      1        40.0             4   46        Water          1784      1
38      1        57.0             3   22         Cola          2744      0
41      1        67.0             0   40        Fanta          2285      0
42      1        52.0             3   50     Beerbeer          3395      0
43      1        33.0             2   60        Fanta          8192      1
44      1        48.0             2   53         Cola          4185      0
46      1        29.0             1   49         Cola          2884      0
47      1        34.0             0   12         Cola          2506      0
53      1        50.0             4   48        Fanta          8911      1
55      1        42.0             5   60     Beerbeer          1994      1
66      1        31.0             0   53        Fanta          9976      0
69      1        95.0             2   29        Water            85      0
73      1        90.0            -6   23      Bugbeer          2593      0
...   ...         ...           ...  ...          ...           ...    ...
9906    1        31.0            -5   43      Bugbeer           640      1
9907    1        84.0             5   30         Cola          4893      1
9910    1        19.0             1   32      Bugbeer          9137      0
9913    1        35.0             1   27         Cola          7265      1
9915    1        62.0             0   68         Cola          4571      1
9920    1         3.0             5   74         Cola          7107      1
9921    1        77.0             2   16        Fanta          8516      1
9931    1        83.0             0   67     Beerbeer          8178      1
9932    1         NaN             0   21  Strong beer          6959      0
9936    1        95.0             3   45        Fanta          5339      0
9942    1         NaN             2   22        Water          4528      0
9943    1        38.0             0   51        Water          8750      0
9947    1        29.0             1   46         Cola          9939      1
9949    1         0.0             1   30      Bugbeer          6124      1
9951    1        89.0             5   35  Strong beer          6724      1
9952    1        67.0             3   52     Beerbeer          3765      1
9953    1        99.0             3   49     Beerbeer          9478      0
9958    1        95.0             1   66     Beerbeer          8145      0
9960    1        93.0             0   60     Beerbeer          6307      1
9964    1        15.0             0   57        Fanta          5314      1
9965    1        91.0             5   36        Water          7553      0
9970    1        85.0             0   52      Bugbeer          7186      0
9974    1        59.0             1   69         Cola          1833      1
9975    1        18.0             0   72      Bugbeer          1682      0
9983    1        36.0             3   56     Beerbeer          7204      0
9984    1        79.0      50945726   60  Strong beer           789      1
9986    1        68.0             3   62        Fanta          1394      1
9987    1        60.0             3   10        Water          4109      1
9992    1        15.0             3   62  Strong beer          6510      0
9994    1        11.0             3   52  Strong beer          9510      1

[3291 rows x 7 columns]

'task 4 row_number to max'

      sex  row_number  liters_drunk  age        drink  check_number  label
0       1        79.0             2   66         Cola          3116      0
1       1        23.0             0   10        Fanta          8118      0
3       1        52.0             5   67     Beerbeer          7640      1
4       1        57.0             2   27     Beerbeer          8764      0
5       1        15.0             1   44      Bugbeer          6235      0
7       1        33.0             5   64        Fanta          2970      1
10      1        78.0      99602005   51        Water          3592      0
11      1        32.0             2   35  Strong beer          2021      0
13      1        16.0             5   77      Bugbeer          1637      0
14      1        46.0      74068055   37  Strong beer          7830      1
15      1         4.0             3   18         Cola          2174      1
20      1        40.0             3   55        Water          8793      0
22      1         9.0             4   47      Bugbeer          6079      1
26      1        70.0      44068553   31        Fanta          7091      0
28      1        52.0             3   38        Fanta          6992      1
32      1        44.0             4   42  Strong beer          3258      1
36      1        86.0             0   55        Fanta          2104      1
37      1        40.0             4   46        Water          1784      1
38      1        57.0             3   22         Cola          2744      0
41      1        67.0             0   40        Fanta          2285      0
42      1        52.0             3   50     Beerbeer          3395      0
43      1        33.0             2   60        Fanta          8192      1
44      1        48.0             2   53         Cola          4185      0
46      1        29.0             1   49         Cola          2884      0
47      1        34.0             0   12         Cola          2506      0
53      1        50.0             4   48        Fanta          8911      1
55      1        42.0             5   60     Beerbeer          1994      1
66      1        31.0             0   53        Fanta          9976      0
69      1        95.0             2   29        Water            85      0
73      1        90.0            -6   23      Bugbeer          2593      0
...   ...         ...           ...  ...          ...           ...    ...
9906    1        31.0            -5   43      Bugbeer           640      1
9907    1        84.0             5   30         Cola          4893      1
9910    1        19.0             1   32      Bugbeer          9137      0
9913    1        35.0             1   27         Cola          7265      1
9915    1        62.0             0   68         Cola          4571      1
9920    1         3.0             5   74         Cola          7107      1
9921    1        77.0             2   16        Fanta          8516      1
9931    1        83.0             0   67     Beerbeer          8178      1
9932    1       100.0             0   21  Strong beer          6959      0
9936    1        95.0             3   45        Fanta          5339      0
9942    1       100.0             2   22        Water          4528      0
9943    1        38.0             0   51        Water          8750      0
9947    1        29.0             1   46         Cola          9939      1
9949    1         0.0             1   30      Bugbeer          6124      1
9951    1        89.0             5   35  Strong beer          6724      1
9952    1        67.0             3   52     Beerbeer          3765      1
9953    1        99.0             3   49     Beerbeer          9478      0
9958    1        95.0             1   66     Beerbeer          8145      0
9960    1        93.0             0   60     Beerbeer          6307      1
9964    1        15.0             0   57        Fanta          5314      1
9965    1        91.0             5   36        Water          7553      0
9970    1        85.0             0   52      Bugbeer          7186      0
9974    1        59.0             1   69         Cola          1833      1
9975    1        18.0             0   72      Bugbeer          1682      0
9983    1        36.0             3   56     Beerbeer          7204      0
9984    1        79.0      50945726   60  Strong beer           789      1
9986    1        68.0             3   62        Fanta          1394      1
9987    1        60.0             3   10        Water          4109      1
9992    1        15.0             3   62  Strong beer          6510      0
9994    1        11.0             3   52  Strong beer          9510      1

[3291 rows x 7 columns]

'task 5 without unreal liters'

      sex  row_number  liters_drunk  age        drink  check_number  label
0       1        79.0  2.000000e+00   66         Cola          3116      0
1       1        23.0  0.000000e+00   10        Fanta          8118      0
3       1        52.0  5.000000e+00   67     Beerbeer          7640      1
4       1        57.0  2.000000e+00   27     Beerbeer          8764      0
5       1        15.0  1.000000e+00   44      Bugbeer          6235      0
7       1        33.0  5.000000e+00   64        Fanta          2970      1
10      1        78.0  2.634032e+06   51        Water          3592      0
11      1        32.0  2.000000e+00   35  Strong beer          2021      0
13      1        16.0  5.000000e+00   77      Bugbeer          1637      0
14      1        46.0  2.634032e+06   37  Strong beer          7830      1
15      1         4.0  3.000000e+00   18         Cola          2174      1
20      1        40.0  3.000000e+00   55        Water          8793      0
22      1         9.0  4.000000e+00   47      Bugbeer          6079      1
26      1        70.0  2.634032e+06   31        Fanta          7091      0
28      1        52.0  3.000000e+00   38        Fanta          6992      1
32      1        44.0  4.000000e+00   42  Strong beer          3258      1
36      1        86.0  0.000000e+00   55        Fanta          2104      1
37      1        40.0  4.000000e+00   46        Water          1784      1
38      1        57.0  3.000000e+00   22         Cola          2744      0
41      1        67.0  0.000000e+00   40        Fanta          2285      0
42      1        52.0  3.000000e+00   50     Beerbeer          3395      0
43      1        33.0  2.000000e+00   60        Fanta          8192      1
44      1        48.0  2.000000e+00   53         Cola          4185      0
46      1        29.0  1.000000e+00   49         Cola          2884      0
47      1        34.0  0.000000e+00   12         Cola          2506      0
53      1        50.0  4.000000e+00   48        Fanta          8911      1
55      1        42.0  5.000000e+00   60     Beerbeer          1994      1
66      1        31.0  0.000000e+00   53        Fanta          9976      0
69      1        95.0  2.000000e+00   29        Water            85      0
73      1        90.0  2.634032e+06   23      Bugbeer          2593      0
...   ...         ...           ...  ...          ...           ...    ...
9906    1        31.0  2.634032e+06   43      Bugbeer           640      1
9907    1        84.0  5.000000e+00   30         Cola          4893      1
9910    1        19.0  1.000000e+00   32      Bugbeer          9137      0
9913    1        35.0  1.000000e+00   27         Cola          7265      1
9915    1        62.0  0.000000e+00   68         Cola          4571      1
9920    1         3.0  5.000000e+00   74         Cola          7107      1
9921    1        77.0  2.000000e+00   16        Fanta          8516      1
9931    1        83.0  0.000000e+00   67     Beerbeer          8178      1
9932    1       100.0  0.000000e+00   21  Strong beer          6959      0
9936    1        95.0  3.000000e+00   45        Fanta          5339      0
9942    1       100.0  2.000000e+00   22        Water          4528      0
9943    1        38.0  0.000000e+00   51        Water          8750      0
9947    1        29.0  1.000000e+00   46         Cola          9939      1
9949    1         0.0  1.000000e+00   30      Bugbeer          6124      1
9951    1        89.0  5.000000e+00   35  Strong beer          6724      1
9952    1        67.0  3.000000e+00   52     Beerbeer          3765      1
9953    1        99.0  3.000000e+00   49     Beerbeer          9478      0
9958    1        95.0  1.000000e+00   66     Beerbeer          8145      0
9960    1        93.0  0.000000e+00   60     Beerbeer          6307      1
9964    1        15.0  0.000000e+00   57        Fanta          5314      1
9965    1        91.0  5.000000e+00   36        Water          7553      0
9970    1        85.0  0.000000e+00   52      Bugbeer          7186      0
9974    1        59.0  1.000000e+00   69         Cola          1833      1
9975    1        18.0  0.000000e+00   72      Bugbeer          1682      0
9983    1        36.0  3.000000e+00   56     Beerbeer          7204      0
9984    1        79.0  2.634032e+06   60  Strong beer           789      1
9986    1        68.0  3.000000e+00   62        Fanta          1394      1
9987    1        60.0  3.000000e+00   10        Water          4109      1
9992    1        15.0  3.000000e+00   62  Strong beer          6510      0
9994    1        11.0  3.000000e+00   52  Strong beer          9510      1

[3291 rows x 7 columns]

'task 6 with different ages'

,sex,row_number,liters_drunk,drink,check_number,label,age_18,age_1850,age_50
0,1,79.0,2.000000e+00,Cola,3116,0,NaN,NaN,66.0
1,1,23.0,0.000000e+00,Fanta,8118,0,10.0,NaN,NaN
3,1,52.0,5.000000e+00,Beerbeer,7640,1,NaN,NaN,67.0
4,1,57.0,2.000000e+00,Beerbeer,8764,0,NaN,27.0,NaN
5,1,15.0,1.000000e+00,Bugbeer,6235,0,NaN,44.0,NaN
7,1,33.0,5.000000e+00,Fanta,2970,1,NaN,NaN,64.0
10,1,78.0,2.634032e+06,Water,3592,0,NaN,NaN,51.0
11,1,32.0,2.000000e+00,Strong beer,2021,0,NaN,35.0,NaN
13,1,16.0,5.000000e+00,Bugbeer,1637,0,NaN,NaN,77.0
14,1,46.0,2.634032e+06,Strong beer,7830,1,NaN,37.0,NaN
15,1,4.0,3.000000e+00,Cola,2174,1,NaN,NaN,NaN
20,1,40.0,3.000000e+00,Water,8793,0,NaN,NaN,55.0
22,1,9.0,4.000000e+00,Bugbeer,6079,1,NaN,47.0,NaN
26,1,70.0,2.634032e+06,Fanta,7091,0,NaN,31.0,NaN
28,1,52.0,3.000000e+00,Fanta,6992,1,NaN,38.0,NaN
32,1,44.0,4.000000e+00,Strong beer,3258,1,NaN,42.0,NaN
36,1,86.0,0.000000e+00,Fanta,2104,1,NaN,NaN,55.0
37,1,40.0,4.000000e+00,Water,1784,1,NaN,46.0,NaN
38,1,57.0,3.000000e+00,Cola,2744,0,NaN,22.0,NaN
41,1,67.0,0.000000e+00,Fanta,2285,0,NaN,40.0,NaN
42,1,52.0,3.000000e+00,Beerbeer,3395,0,NaN,NaN,NaN
43,1,33.0,2.000000e+00,Fanta,8192,1,NaN,NaN,60.0
44,1,48.0,2.000000e+00,Cola,4185,0,NaN,NaN,53.0
46,1,29.0,1.000000e+00,Cola,2884,0,NaN,49.0,NaN
47,1,34.0,0.000000e+00,Cola,2506,0,12.0,NaN,NaN
53,1,50.0,4.000000e+00,Fanta,8911,1,NaN,48.0,NaN
55,1,42.0,5.000000e+00,Beerbeer,1994,1,NaN,NaN,60.0
66,1,31.0,0.000000e+00,Fanta,9976,0,NaN,NaN,53.0
69,1,95.0,2.000000e+00,Water,85,0,NaN,29.0,NaN
73,1,90.0,2.634032e+06,Bugbeer,2593,0,NaN,23.0,NaN
...,...,...,...,...,...,...,...,...,...
9906,1,31.0,2.634032e+06,Bugbeer,640,1,NaN,43.0,NaN
9907,1,84.0,5.000000e+00,Cola,4893,1,NaN,30.0,NaN
9910,1,19.0,1.000000e+00,Bugbeer,9137,0,NaN,32.0,NaN
9913,1,35.0,1.000000e+00,Cola,7265,1,NaN,27.0,NaN
9915,1,62.0,0.000000e+00,Cola,4571,1,NaN,NaN,68.0
9920,1,3.0,5.000000e+00,Cola,7107,1,NaN,NaN,74.0
9921,1,77.0,2.000000e+00,Fanta,8516,1,16.0,NaN,NaN
9931,1,83.0,0.000000e+00,Beerbeer,8178,1,NaN,NaN,67.0
9932,1,100.0,0.000000e+00,Strong beer,6959,0,NaN,21.0,NaN
9936,1,95.0,3.000000e+00,Fanta,5339,0,NaN,45.0,NaN
9942,1,100.0,2.000000e+00,Water,4528,0,NaN,22.0,NaN
9943,1,38.0,0.000000e+00,Water,8750,0,NaN,NaN,51.0
9947,1,29.0,1.000000e+00,Cola,9939,1,NaN,46.0,NaN
9949,1,0.0,1.000000e+00,Bugbeer,6124,1,NaN,30.0,NaN
9951,1,89.0,5.000000e+00,Strong beer,6724,1,NaN,35.0,NaN
9952,1,67.0,3.000000e+00,Beerbeer,3765,1,NaN,NaN,52.0
9953,1,99.0,3.000000e+00,Beerbeer,9478,0,NaN,49.0,NaN
9958,1,95.0,1.000000e+00,Beerbeer,8145,0,NaN,NaN,66.0
9960,1,93.0,0.000000e+00,Beerbeer,6307,1,NaN,NaN,60.0
9964,1,15.0,0.000000e+00,Fanta,5314,1,NaN,NaN,57.0
9965,1,91.0,5.000000e+00,Water,7553,0,NaN,36.0,NaN
9970,1,85.0,0.000000e+00,Bugbeer,7186,0,NaN,NaN,52.0
9974,1,59.0,1.000000e+00,Cola,1833,1,NaN,NaN,69.0
9975,1,18.0,0.000000e+00,Bugbeer,1682,0,NaN,NaN,72.0
9983,1,36.0,3.000000e+00,Beerbeer,7204,0,NaN,NaN,56.0
9984,1,79.0,2.634032e+06,Strong beer,789,1,NaN,NaN,60.0
9986,1,68.0,3.000000e+00,Fanta,1394,1,NaN,NaN,62.0
9987,1,60.0,3.000000e+00,Water,4109,1,10.0,NaN,NaN
9992,1,15.0,3.000000e+00,Strong beer,6510,0,NaN,NaN,62.0
9994,1,11.0,3.000000e+00,Strong beer,9510,1,NaN,NaN,52.0

'task 7 without beer!'

,sex,row_number,liters_drunk,drink,check_number,label,age_18,age_1850,age_50
0,1,79.0,2.000000e+00,0,3116,0,NaN,NaN,66.0
1,1,23.0,0.000000e+00,0,8118,0,10.0,NaN,NaN
3,1,52.0,5.000000e+00,1,7640,1,NaN,NaN,67.0
4,1,57.0,2.000000e+00,1,8764,0,NaN,27.0,NaN
5,1,15.0,1.000000e+00,1,6235,0,NaN,44.0,NaN
7,1,33.0,5.000000e+00,0,2970,1,NaN,NaN,64.0
10,1,78.0,2.634032e+06,0,3592,0,NaN,NaN,51.0
11,1,32.0,2.000000e+00,1,2021,0,NaN,35.0,NaN
13,1,16.0,5.000000e+00,1,1637,0,NaN,NaN,77.0
14,1,46.0,2.634032e+06,1,7830,1,NaN,37.0,NaN
15,1,4.0,3.000000e+00,0,2174,1,NaN,NaN,NaN
20,1,40.0,3.000000e+00,0,8793,0,NaN,NaN,55.0
22,1,9.0,4.000000e+00,1,6079,1,NaN,47.0,NaN
26,1,70.0,2.634032e+06,0,7091,0,NaN,31.0,NaN
28,1,52.0,3.000000e+00,0,6992,1,NaN,38.0,NaN
32,1,44.0,4.000000e+00,1,3258,1,NaN,42.0,NaN
36,1,86.0,0.000000e+00,0,2104,1,NaN,NaN,55.0
37,1,40.0,4.000000e+00,0,1784,1,NaN,46.0,NaN
38,1,57.0,3.000000e+00,0,2744,0,NaN,22.0,NaN
41,1,67.0,0.000000e+00,0,2285,0,NaN,40.0,NaN
42,1,52.0,3.000000e+00,1,3395,0,NaN,NaN,NaN
43,1,33.0,2.000000e+00,0,8192,1,NaN,NaN,60.0
44,1,48.0,2.000000e+00,0,4185,0,NaN,NaN,53.0
46,1,29.0,1.000000e+00,0,2884,0,NaN,49.0,NaN
47,1,34.0,0.000000e+00,0,2506,0,12.0,NaN,NaN
53,1,50.0,4.000000e+00,0,8911,1,NaN,48.0,NaN
55,1,42.0,5.000000e+00,1,1994,1,NaN,NaN,60.0
66,1,31.0,0.000000e+00,0,9976,0,NaN,NaN,53.0
69,1,95.0,2.000000e+00,0,85,0,NaN,29.0,NaN
73,1,90.0,2.634032e+06,1,2593,0,NaN,23.0,NaN
...,...,...,...,...,...,...,...,...,...
9906,1,31.0,2.634032e+06,1,640,1,NaN,43.0,NaN
9907,1,84.0,5.000000e+00,0,4893,1,NaN,30.0,NaN
9910,1,19.0,1.000000e+00,1,9137,0,NaN,32.0,NaN
9913,1,35.0,1.000000e+00,0,7265,1,NaN,27.0,NaN
9915,1,62.0,0.000000e+00,0,4571,1,NaN,NaN,68.0
9920,1,3.0,5.000000e+00,0,7107,1,NaN,NaN,74.0
9921,1,77.0,2.000000e+00,0,8516,1,16.0,NaN,NaN
9931,1,83.0,0.000000e+00,1,8178,1,NaN,NaN,67.0
9932,1,100.0,0.000000e+00,1,6959,0,NaN,21.0,NaN
9936,1,95.0,3.000000e+00,0,5339,0,NaN,45.0,NaN
9942,1,100.0,2.000000e+00,0,4528,0,NaN,22.0,NaN
9943,1,38.0,0.000000e+00,0,8750,0,NaN,NaN,51.0
9947,1,29.0,1.000000e+00,0,9939,1,NaN,46.0,NaN
9949,1,0.0,1.000000e+00,1,6124,1,NaN,30.0,NaN
9951,1,89.0,5.000000e+00,1,6724,1,NaN,35.0,NaN
9952,1,67.0,3.000000e+00,1,3765,1,NaN,NaN,52.0
9953,1,99.0,3.000000e+00,1,9478,0,NaN,49.0,NaN
9958,1,95.0,1.000000e+00,1,8145,0,NaN,NaN,66.0
9960,1,93.0,0.000000e+00,1,6307,1,NaN,NaN,60.0
9964,1,15.0,0.000000e+00,0,5314,1,NaN,NaN,57.0
9965,1,91.0,5.000000e+00,0,7553,0,NaN,36.0,NaN
9970,1,85.0,0.000000e+00,1,7186,0,NaN,NaN,52.0
9974,1,59.0,1.000000e+00,0,1833,1,NaN,NaN,69.0
9975,1,18.0,0.000000e+00,1,1682,0,NaN,NaN,72.0
9983,1,36.0,3.000000e+00,1,7204,0,NaN,NaN,56.0
9984,1,79.0,2.634032e+06,1,789,1,NaN,NaN,60.0
9986,1,68.0,3.000000e+00,0,1394,1,NaN,NaN,62.0
9987,1,60.0,3.000000e+00,0,4109,1,10.0,NaN,NaN
9992,1,15.0,3.000000e+00,1,6510,0,NaN,NaN,62.0
9994,1,11.0,3.000000e+00,1,9510,1,NaN,NaN,52.0

 1414 хмельных напитков

,sex,row_number,liters_drunk,drink,check_number,label,age_18,age_1850,age_50,Unnamed: 0,session_start
0,1,79.0,2.000000e+00,0,3116,0,NaN,NaN,66.0,5385,21:00:00.000
1,1,23.0,0.000000e+00,0,8118,0,10.0,NaN,NaN,2527,15:30:00.000
2,1,52.0,5.000000e+00,1,7640,1,NaN,NaN,67.0,3241,23:42:00.000
3,1,57.0,2.000000e+00,1,8764,0,NaN,27.0,NaN,7251,15:30:00.000
4,1,15.0,1.000000e+00,1,6235,0,NaN,44.0,NaN,2820,08:42:00.000
5,1,33.0,5.000000e+00,0,2970,1,NaN,NaN,64.0,1711,14:15:00.000
6,1,78.0,2.634032e+06,0,3592,0,NaN,NaN,51.0,7504,22:15:00.000
7,1,32.0,2.000000e+00,1,2021,0,NaN,35.0,NaN,8475,07:00:00.000
8,1,16.0,5.000000e+00,1,1637,0,NaN,NaN,77.0,7926,15:00:00.000
9,1,46.0,2.634032e+06,1,7830,1,NaN,37.0,NaN,6052,15:00:00.000
10,1,4.0,3.000000e+00,0,2174,1,NaN,NaN,NaN,3901,21:00:00.000
11,1,40.0,3.000000e+00,0,8793,0,NaN,NaN,55.0,3020,07:00:00.000
12,1,9.0,4.000000e+00,1,6079,1,NaN,47.0,NaN,16,22:30:00.000
13,1,70.0,2.634032e+06,0,7091,0,NaN,31.0,NaN,7257,08:42:00.000
14,1,52.0,3.000000e+00,0,6992,1,NaN,38.0,NaN,7684,23:42:00.000
15,1,44.0,4.000000e+00,1,3258,1,NaN,42.0,NaN,4481,07:30:00.000
16,1,86.0,0.000000e+00,0,2104,1,NaN,NaN,55.0,1224,21:00:00.000
17,1,40.0,4.000000e+00,0,1784,1,NaN,46.0,NaN,4220,07:30:00.000
18,1,57.0,3.000000e+00,0,2744,0,NaN,22.0,NaN,4146,14:15:00.000
19,1,67.0,0.000000e+00,0,2285,0,NaN,40.0,NaN,9154,23:42:00.000
20,1,52.0,3.000000e+00,1,3395,0,NaN,NaN,NaN,8325,15:30:00.000
21,1,33.0,2.000000e+00,0,8192,1,NaN,NaN,60.0,2817,06:15:00.000
22,1,48.0,2.000000e+00,0,4185,0,NaN,NaN,53.0,6653,14:00:00.000
23,1,29.0,1.000000e+00,0,2884,0,NaN,49.0,NaN,2122,15:30:00.000
24,1,34.0,0.000000e+00,0,2506,0,12.0,NaN,NaN,9743,15:00:00.000
25,1,50.0,4.000000e+00,0,8911,1,NaN,48.0,NaN,7628,08:42:00.000
26,1,42.0,5.000000e+00,1,1994,1,NaN,NaN,60.0,5606,22:15:00.000
27,1,31.0,0.000000e+00,0,9976,0,NaN,NaN,53.0,1052,15:00:00.000
28,1,95.0,2.000000e+00,0,85,0,NaN,29.0,NaN,5694,07:00:00.000
29,1,90.0,2.634032e+06,1,2593,0,NaN,23.0,NaN,7113,06:15:00.000
...,...,...,...,...,...,...,...,...,...,...,...
3261,1,31.0,2.634032e+06,1,640,1,NaN,43.0,NaN,9018,15:00:00.000
3262,1,84.0,5.000000e+00,0,4893,1,NaN,30.0,NaN,6318,14:00:00.000
3263,1,19.0,1.000000e+00,1,9137,0,NaN,32.0,NaN,2104,21:00:00.000
3264,1,35.0,1.000000e+00,0,7265,1,NaN,27.0,NaN,2329,15:30:00.000
3265,1,62.0,0.000000e+00,0,4571,1,NaN,NaN,68.0,1833,21:00:00.000
3266,1,3.0,5.000000e+00,0,7107,1,NaN,NaN,74.0,1800,07:30:00.000
3267,1,77.0,2.000000e+00,0,8516,1,16.0,NaN,NaN,1277,22:15:00.000
3268,1,83.0,0.000000e+00,1,8178,1,NaN,NaN,67.0,8875,06:00:00.000
3269,1,100.0,0.000000e+00,1,6959,0,NaN,21.0,NaN,5075,14:00:00.000
3270,1,95.0,3.000000e+00,0,5339,0,NaN,45.0,NaN,1512,08:42:00.000
3271,1,100.0,2.000000e+00,0,4528,0,NaN,22.0,NaN,8775,21:00:00.000
3272,1,38.0,0.000000e+00,0,8750,0,NaN,NaN,51.0,3928,21:00:00.000
3273,1,29.0,1.000000e+00,0,9939,1,NaN,46.0,NaN,508,21:00:00.000
3274,1,0.0,1.000000e+00,1,6124,1,NaN,30.0,NaN,4899,14:15:00.000
3275,1,89.0,5.000000e+00,1,6724,1,NaN,35.0,NaN,5788,15:34:00.000
3276,1,67.0,3.000000e+00,1,3765,1,NaN,NaN,52.0,9661,21:00:00.000
3277,1,99.0,3.000000e+00,1,9478,0,NaN,49.0,NaN,1118,22:15:00.000
3278,1,95.0,1.000000e+00,1,8145,0,NaN,NaN,66.0,763,15:30:00.000
3279,1,93.0,0.000000e+00,1,6307,1,NaN,NaN,60.0,3083,06:00:00.000
3280,1,15.0,0.000000e+00,0,5314,1,NaN,NaN,57.0,1851,23:42:00.000
3281,1,91.0,5.000000e+00,0,7553,0,NaN,36.0,NaN,7899,08:42:00.000
3282,1,85.0,0.000000e+00,1,7186,0,NaN,NaN,52.0,406,06:00:00.000
3283,1,59.0,1.000000e+00,0,1833,1,NaN,NaN,69.0,363,08:42:00.000
3284,1,18.0,0.000000e+00,1,1682,0,NaN,NaN,72.0,3163,22:30:00.000
3285,1,36.0,3.000000e+00,1,7204,0,NaN,NaN,56.0,5351,07:30:00.000
3286,1,79.0,2.634032e+06,1,789,1,NaN,NaN,60.0,2498,07:30:00.000
3287,1,68.0,3.000000e+00,0,1394,1,NaN,NaN,62.0,4589,07:30:00.000
3288,1,60.0,3.000000e+00,0,4109,1,10.0,NaN,NaN,101,06:00:00.000
3289,1,15.0,3.000000e+00,1,6510,0,NaN,NaN,62.0,3882,22:15:00.000
3290,1,11.0,3.000000e+00,1,9510,1,NaN,NaN,52.0,5449,22:15:00.000

'task 8 with time'

,sex,row_number,liters_drunk,drink,check_number,label,age_18,age_1850,age_50,Unnamed: 0,session_start,morning,day,evening
0,1,79.0,2.000000e+00,0,3116,0,NaN,NaN,66.0,5385,21:00:00.000,NaN,NaN,21:00:00.000
1,1,23.0,0.000000e+00,0,8118,0,10.0,NaN,NaN,2527,15:30:00.000,NaN,15:30:00.000,NaN
2,1,52.0,5.000000e+00,1,7640,1,NaN,NaN,67.0,3241,23:42:00.000,NaN,NaN,23:42:00.000
3,1,57.0,2.000000e+00,1,8764,0,NaN,27.0,NaN,7251,15:30:00.000,NaN,15:30:00.000,NaN
4,1,15.0,1.000000e+00,1,6235,0,NaN,44.0,NaN,2820,08:42:00.000,08:42:00.000,NaN,NaN
5,1,33.0,5.000000e+00,0,2970,1,NaN,NaN,64.0,1711,14:15:00.000,NaN,14:15:00.000,NaN
6,1,78.0,2.634032e+06,0,3592,0,NaN,NaN,51.0,7504,22:15:00.000,NaN,NaN,22:15:00.000
7,1,32.0,2.000000e+00,1,2021,0,NaN,35.0,NaN,8475,07:00:00.000,07:00:00.000,NaN,NaN
8,1,16.0,5.000000e+00,1,1637,0,NaN,NaN,77.0,7926,15:00:00.000,NaN,15:00:00.000,NaN
9,1,46.0,2.634032e+06,1,7830,1,NaN,37.0,NaN,6052,15:00:00.000,NaN,15:00:00.000,NaN
10,1,4.0,3.000000e+00,0,2174,1,NaN,NaN,NaN,3901,21:00:00.000,NaN,NaN,21:00:00.000
11,1,40.0,3.000000e+00,0,8793,0,NaN,NaN,55.0,3020,07:00:00.000,07:00:00.000,NaN,NaN
12,1,9.0,4.000000e+00,1,6079,1,NaN,47.0,NaN,16,22:30:00.000,NaN,NaN,22:30:00.000
13,1,70.0,2.634032e+06,0,7091,0,NaN,31.0,NaN,7257,08:42:00.000,08:42:00.000,NaN,NaN
14,1,52.0,3.000000e+00,0,6992,1,NaN,38.0,NaN,7684,23:42:00.000,NaN,NaN,23:42:00.000
15,1,44.0,4.000000e+00,1,3258,1,NaN,42.0,NaN,4481,07:30:00.000,07:30:00.000,NaN,NaN
16,1,86.0,0.000000e+00,0,2104,1,NaN,NaN,55.0,1224,21:00:00.000,NaN,NaN,21:00:00.000
17,1,40.0,4.000000e+00,0,1784,1,NaN,46.0,NaN,4220,07:30:00.000,07:30:00.000,NaN,NaN
18,1,57.0,3.000000e+00,0,2744,0,NaN,22.0,NaN,4146,14:15:00.000,NaN,14:15:00.000,NaN
19,1,67.0,0.000000e+00,0,2285,0,NaN,40.0,NaN,9154,23:42:00.000,NaN,NaN,23:42:00.000
20,1,52.0,3.000000e+00,1,3395,0,NaN,NaN,NaN,8325,15:30:00.000,NaN,15:30:00.000,NaN
21,1,33.0,2.000000e+00,0,8192,1,NaN,NaN,60.0,2817,06:15:00.000,06:15:00.000,NaN,NaN
22,1,48.0,2.000000e+00,0,4185,0,NaN,NaN,53.0,6653,14:00:00.000,NaN,14:00:00.000,NaN
23,1,29.0,1.000000e+00,0,2884,0,NaN,49.0,NaN,2122,15:30:00.000,NaN,15:30:00.000,NaN
24,1,34.0,0.000000e+00,0,2506,0,12.0,NaN,NaN,9743,15:00:00.000,NaN,15:00:00.000,NaN
25,1,50.0,4.000000e+00,0,8911,1,NaN,48.0,NaN,7628,08:42:00.000,08:42:00.000,NaN,NaN
26,1,42.0,5.000000e+00,1,1994,1,NaN,NaN,60.0,5606,22:15:00.000,NaN,NaN,22:15:00.000
27,1,31.0,0.000000e+00,0,9976,0,NaN,NaN,53.0,1052,15:00:00.000,NaN,15:00:00.000,NaN
28,1,95.0,2.000000e+00,0,85,0,NaN,29.0,NaN,5694,07:00:00.000,07:00:00.000,NaN,NaN
29,1,90.0,2.634032e+06,1,2593,0,NaN,23.0,NaN,7113,06:15:00.000,06:15:00.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3261,1,31.0,2.634032e+06,1,640,1,NaN,43.0,NaN,9018,15:00:00.000,NaN,15:00:00.000,NaN
3262,1,84.0,5.000000e+00,0,4893,1,NaN,30.0,NaN,6318,14:00:00.000,NaN,14:00:00.000,NaN
3263,1,19.0,1.000000e+00,1,9137,0,NaN,32.0,NaN,2104,21:00:00.000,NaN,NaN,21:00:00.000
3264,1,35.0,1.000000e+00,0,7265,1,NaN,27.0,NaN,2329,15:30:00.000,NaN,15:30:00.000,NaN
3265,1,62.0,0.000000e+00,0,4571,1,NaN,NaN,68.0,1833,21:00:00.000,NaN,NaN,21:00:00.000
3266,1,3.0,5.000000e+00,0,7107,1,NaN,NaN,74.0,1800,07:30:00.000,07:30:00.000,NaN,NaN
3267,1,77.0,2.000000e+00,0,8516,1,16.0,NaN,NaN,1277,22:15:00.000,NaN,NaN,22:15:00.000
3268,1,83.0,0.000000e+00,1,8178,1,NaN,NaN,67.0,8875,06:00:00.000,06:00:00.000,NaN,NaN
3269,1,100.0,0.000000e+00,1,6959,0,NaN,21.0,NaN,5075,14:00:00.000,NaN,14:00:00.000,NaN
3270,1,95.0,3.000000e+00,0,5339,0,NaN,45.0,NaN,1512,08:42:00.000,08:42:00.000,NaN,NaN
3271,1,100.0,2.000000e+00,0,4528,0,NaN,22.0,NaN,8775,21:00:00.000,NaN,NaN,21:00:00.000
3272,1,38.0,0.000000e+00,0,8750,0,NaN,NaN,51.0,3928,21:00:00.000,NaN,NaN,21:00:00.000
3273,1,29.0,1.000000e+00,0,9939,1,NaN,46.0,NaN,508,21:00:00.000,NaN,NaN,21:00:00.000
3274,1,0.0,1.000000e+00,1,6124,1,NaN,30.0,NaN,4899,14:15:00.000,NaN,14:15:00.000,NaN
3275,1,89.0,5.000000e+00,1,6724,1,NaN,35.0,NaN,5788,15:34:00.000,NaN,15:34:00.000,NaN
3276,1,67.0,3.000000e+00,1,3765,1,NaN,NaN,52.0,9661,21:00:00.000,NaN,NaN,21:00:00.000
3277,1,99.0,3.000000e+00,1,9478,0,NaN,49.0,NaN,1118,22:15:00.000,NaN,NaN,22:15:00.000
3278,1,95.0,1.000000e+00,1,8145,0,NaN,NaN,66.0,763,15:30:00.000,NaN,15:30:00.000,NaN
3279,1,93.0,0.000000e+00,1,6307,1,NaN,NaN,60.0,3083,06:00:00.000,06:00:00.000,NaN,NaN
3280,1,15.0,0.000000e+00,0,5314,1,NaN,NaN,57.0,1851,23:42:00.000,NaN,NaN,23:42:00.000
3281,1,91.0,5.000000e+00,0,7553,0,NaN,36.0,NaN,7899,08:42:00.000,08:42:00.000,NaN,NaN
3282,1,85.0,0.000000e+00,1,7186,0,NaN,NaN,52.0,406,06:00:00.000,06:00:00.000,NaN,NaN
3283,1,59.0,1.000000e+00,0,1833,1,NaN,NaN,69.0,363,08:42:00.000,08:42:00.000,NaN,NaN
3284,1,18.0,0.000000e+00,1,1682,0,NaN,NaN,72.0,3163,22:30:00.000,NaN,NaN,22:30:00.000
3285,1,36.0,3.000000e+00,1,7204,0,NaN,NaN,56.0,5351,07:30:00.000,07:30:00.000,NaN,NaN
3286,1,79.0,2.634032e+06,1,789,1,NaN,NaN,60.0,2498,07:30:00.000,07:30:00.000,NaN,NaN
3287,1,68.0,3.000000e+00,0,1394,1,NaN,NaN,62.0,4589,07:30:00.000,07:30:00.000,NaN,NaN
3288,1,60.0,3.000000e+00,0,4109,1,10.0,NaN,NaN,101,06:00:00.000,06:00:00.000,NaN,NaN
3289,1,15.0,3.000000e+00,1,6510,0,NaN,NaN,62.0,3882,22:15:00.000,NaN,NaN,22:15:00.000
3290,1,11.0,3.000000e+00,1,9510,1,NaN,NaN,52.0,5449,22:15:00.000,NaN,NaN,22:15:00.000